USE [master]
GO
/****** Object:  Database [DW-Student]    Script Date: 3/4/2026 4:16:41 PM ******/
CREATE DATABASE [DW-Student]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW-Student', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DW-Student.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW-Student_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DW-Student_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW-Student].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW-Student]
GO
/****** Object:  Table [dbo].[ModulDim]    Script Date: 3/4/2026 4:16:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModulDim](
	[ModulSID] [int] IDENTITY(1,1) NOT NULL,
	[id_modul] [smallint] NOT NULL,
	[naziv] [nvarchar](100) NULL,
	[akronim] [nvarchar](50) NULL,
 CONSTRAINT [PK_ModulDim] PRIMARY KEY CLUSTERED 
(
	[ModulSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PredmetDim]    Script Date: 3/4/2026 4:16:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PredmetDim](
	[PredmetSID] [int] IDENTITY(1,1) NOT NULL,
	[id_predmet] [smallint] NOT NULL,
	[predmet_naziv] [nvarchar](100) NOT NULL,
	[espb] [smallint] NULL,
	[obavezan] [bit] NULL,
	[semestar] [smallint] NULL,
 CONSTRAINT [PK_PredmetDim] PRIMARY KEY CLUSTERED 
(
	[PredmetSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegionDim]    Script Date: 3/4/2026 4:16:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegionDim](
	[RegionSID] [int] IDENTITY(1,1) NOT NULL,
	[id_srednje_skole] [smallint] NOT NULL,
	[id_opstine] [smallint] NOT NULL,
	[srednja_skola] [nvarchar](200) NOT NULL,
	[opstina] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_RegionDim] PRIMARY KEY CLUSTERED 
(
	[RegionSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusDim]    Script Date: 3/4/2026 4:16:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusDim](
	[StatusSID] [int] IDENTITY(1,1) NOT NULL,
	[id_status] [smallint] NOT NULL,
	[naziv] [nvarchar](100) NULL,
 CONSTRAINT [PK_StatusDim] PRIMARY KEY CLUSTERED 
(
	[StatusSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentDIM]    Script Date: 3/4/2026 4:16:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentDIM](
	[StudentSID] [int] IDENTITY(1,1) NOT NULL,
	[id_student] [smallint] NOT NULL,
	[student_ime] [nvarchar](50) NULL,
	[student_prezime] [nvarchar](50) NULL,
	[RegionSID] [int] NOT NULL,
	[ModulSID] [int] NOT NULL,
	[StatusSID] [int] NOT NULL,
 CONSTRAINT [PK_StudentDIM] PRIMARY KEY CLUSTERED 
(
	[StudentSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UspehFact]    Script Date: 3/4/2026 4:16:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UspehFact](
	[PredmetSID] [int] NOT NULL,
	[StudentSID] [int] NOT NULL,
	[VremeSID] [int] NOT NULL,
	[broj_prijave] [int] NOT NULL,
	[broj_neuspesnih_pokusaja] [int] NOT NULL,
	[trajanje_do_polaganja] [int] NULL,
	[stopa_prolaznosti_predmeta] [float] NOT NULL,
	[stopa_prolaznosti_studenta] [float] NOT NULL,
	[prosecna_ocena_predmet] [float] NULL,
	[prosecna_ocena_student] [float] NOT NULL,
 CONSTRAINT [PK_UspehFact] PRIMARY KEY CLUSTERED 
(
	[PredmetSID] ASC,
	[StudentSID] ASC,
	[VremeSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VremeDim]    Script Date: 3/4/2026 4:16:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VremeDim](
	[VremeSID] [int] NOT NULL,
	[godina] [smallint] NOT NULL,
	[ispitni_rok] [smallint] NOT NULL,
	[naziv_ispitnog_roka] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VremeDim] PRIMARY KEY CLUSTERED 
(
	[VremeSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StudentDIM]  WITH CHECK ADD  CONSTRAINT [FK_StudentDIM_ModulDim] FOREIGN KEY([ModulSID])
REFERENCES [dbo].[ModulDim] ([ModulSID])
GO
ALTER TABLE [dbo].[StudentDIM] CHECK CONSTRAINT [FK_StudentDIM_ModulDim]
GO
ALTER TABLE [dbo].[StudentDIM]  WITH CHECK ADD  CONSTRAINT [FK_StudentDIM_RegionDim] FOREIGN KEY([RegionSID])
REFERENCES [dbo].[RegionDim] ([RegionSID])
GO
ALTER TABLE [dbo].[StudentDIM] CHECK CONSTRAINT [FK_StudentDIM_RegionDim]
GO
ALTER TABLE [dbo].[StudentDIM]  WITH CHECK ADD  CONSTRAINT [FK_StudentDIM_StatusDim] FOREIGN KEY([StatusSID])
REFERENCES [dbo].[StatusDim] ([StatusSID])
GO
ALTER TABLE [dbo].[StudentDIM] CHECK CONSTRAINT [FK_StudentDIM_StatusDim]
GO
ALTER TABLE [dbo].[UspehFact]  WITH CHECK ADD  CONSTRAINT [FK_UspehFact_PredmetDim] FOREIGN KEY([PredmetSID])
REFERENCES [dbo].[PredmetDim] ([PredmetSID])
GO
ALTER TABLE [dbo].[UspehFact] CHECK CONSTRAINT [FK_UspehFact_PredmetDim]
GO
ALTER TABLE [dbo].[UspehFact]  WITH CHECK ADD  CONSTRAINT [FK_UspehFact_StudentDIM] FOREIGN KEY([StudentSID])
REFERENCES [dbo].[StudentDIM] ([StudentSID])
GO
ALTER TABLE [dbo].[UspehFact] CHECK CONSTRAINT [FK_UspehFact_StudentDIM]
GO
ALTER TABLE [dbo].[UspehFact]  WITH CHECK ADD  CONSTRAINT [FK_UspehFact_VremeDim] FOREIGN KEY([VremeSID])
REFERENCES [dbo].[VremeDim] ([VremeSID])
GO
ALTER TABLE [dbo].[UspehFact] CHECK CONSTRAINT [FK_UspehFact_VremeDim]
GO
USE [master]
GO
